# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django
*.log
media/
staticfiles/

# Environment variables
.env
.env.*

# Allow example environment file
!.env.example

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db